<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon/x" src="">
    <link rel="stylesheet" href="style.css">
    <title>Layout test</title>
</head>

<body>
    <header>

    </header>
    <nav>
        <img src="/3WA/Css/layout/geek-png-7.png" alt="geek">
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">shop</a></li>
            <li><a href="">cart</a></li>
            <li><a href="">help</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Amet dictum sit amet justo. Fusce id velit ut tortor. Morbi tempus iaculis urna id volutpat lacus laoreet.

            </p>
            <p>
                At varius vel pharetra vel turpis nunc eget lorem dolor. Consequat interdum varius sit amet mattis vulputate enim nulla. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus. Mauris ultrices eros in cursus. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras.
            </p>
        </section>
    </main>
<footer>casanegra hay lfoukara rue lhassla</footer>

</body>

</html>

